body{
  	background-color: #ffffff;
}
#mylable{
	height: 40px
}

.sidebar {
  background-color: #ecf0f1;
  min-height: 470px;
  padding-top: 10px;
}
i {
  font-size:22px;
}

#pad1{
	padding-left: 70px;
}

#votes{
	text-align: center;
	border: 1px solid gray;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
}

#questions{
	text-align: center;
	border: 1px solid gray;
	padding-top: 10px;
	padding-bottom: 10px;
}

#home{
	border: 1px solid gray;
	padding: 10px;
	border-radius: 25px;
}

#editbyswag{
	padding-right: 30px;
}

#imageswag{
	width: 140px;
	height: 140px;
}

.navswag{
	background-color: #009688;
}

#completeswag{
	text-align: center;
}

#searchswag{
	border: 1px solid #eee;
	padding-top: 20px;
	padding-bottom: 20px;
}

.activityswag{
	border-bottom: 1px solid gray;
	padding-bottom: 10px;
}

